<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table class="table table-hover table-condensed">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Show</th>
    <th>Rewrite</th>
    <th>Delete</th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to article_path(article) do %>
              <span title="Show" class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= link_to edit_article_path(article) do %>
              <span title="Rewrite" class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <%= link_to article_path(article),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} do %>
              <span title="Delete article" class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>